.headline {font-size:1.5em;font-family:futura-pt-1, futura-pt-2, sans-serif;font-weight:bold;}
a.headline {text-decoration:none;}
time {display:inline;}
time.published {opacity:.6;margin-left:1em;}
#branding_nav img {height: 20px;}
