.headline {font-size:1.5em;font-family:futura-pt-1, futura-pt-2, sans-serif;font-weight:bold;}
a.headline {text-decoration:none;}
time {display:inline;}
time.published {opacity:.6;margin-left:1em;}
#branding_nav img {height: 20px;}
#branding_nav {background: #333;}
.stories .ui.segment {border-bottom: 1px #333 solid;
  border-radius: 0;}
