.header {font-size:43px;font-family:futura-pt-1, futura-pt-2, sans-serif;font-weight:bold;line-height: 1;}
a.header {text-decoration:none;color: #333;}
a.header:hover {color: rgb(246, 59, 10);}
time {display:block;}
time.published {opacity:.4;margin-left:0em;font-size:.8em;}
#branding_nav img {height: 20px;width: auto;}
#branding_nav {background: #333;}
.stories .ui.segment {border-radius: 0;padding:20px 0px;}
hr {border-bottom: 1px #333 solid;width:50%;border-top: 0px;margin-top: 40px;}
.ui.segment {box-shadow: 0 0 0 0px rgba(0,0,0,.1);}
article {padding:20px 0px;}
article img {margin-bottom: 30px;}
#honua {background: #333;}
.pull-gold {
	padding: 20px 0;
	border-top: 2px #333 solid;
	border-bottom: 2px #333 solid;
	font-size: 1em;
	line-height: 1.3;
	color: rgb(246, 59, 10);
	font-weight: 700;
	margin: 20px 0;
	font-family: futura-pt-1, futura-pt-2, sans-serif;
	}
ul.meta {font-family: futura-pt-1, futura-pt-2, sans-serif;opacity: .5;text-transform: uppercase;font-size: small;display: block;}
ul.meta li {float: right;}
.cover {width: 100%;}
#branding_nav {background: rgba(6, 6, 6, 0.85);}
.ui.segment {border-left: 0px;border-right: 0px;border-top: 1px solid #333;border-bottom: 1px solid #333;}
#brand_name {font-family: futura-pt-1,futura-pt-2,sans-serif;}
#index_list {margin-top: 40px;}
.ui.items>.item>.content>.header {font-family: futura-pt-1,futura-pt-2,sans-serif;}
.navbar-header{padding-right:0px;background: rgb(246, 59, 10);}
.ui.items>.item>.content>a.header:hover {color: rgb(246, 59, 10);}
a {color: rgb(246, 59, 10);}
footer.ui.grid a:hover {background: inherit;color: rgb(246, 59, 10);}

@media only screen and (max-width: 767px)
.ui.items:not(.unstackable)>.item>.image+.content {
display: block;
padding: 1.5em 1.5em;
}