{{ define "content" }}
  {{ range $section := .Params.sections }}
    {{ $include_dict := dict "section" $section "Site" $.Site }}
    {{ partial $section.component $include_dict }}
  {{ end }}
  <section class="ui grid stackable" id="index_list" role="main_content">
    <div class="ui one column row">
       <main class="column updates_list">
          <section class="stories">
            {{ $display_posts := ((.Site.GetPage "section" "/posts").Pages).ByDate.Reverse }}
            {{ range $post := $display_posts }}
            	<article class="ui segment excerpt_story">
	                {{ if $post.Params.thumb_img_path }}
	                  <a class="post-card-thumbnail" href="{{ $post.URL }}">
	                    <img class="thumbnail" src="{{ $post.Params.thumb_img_path | relURL }}" alt="{{ $post.Params.title }}" />
	                  </a>
	                {{ end }}
			<a class="headline" href="{{ $post.URL }}" rel="bookmark">
				{{ $post.Params.title }}
			</a> <time datetime="{{ $post.Date | dateFormat "2006-01-02 15:04" }}">
					{{ $post.Date | dateFormat "January 02, 2006" }}</time>
			<div class="post-excerpt">
				<p>{{ $post.Content }}</p>
			</div>
            	</article>
            {{ end }}
          </section>
       </main>
    </div>
  </section>
           
  <nav class="pagination">
    <div class="nav-links">
      <a class="older-posts button circle" href="#"><span class="icon-arrow-left" aria-hidden="true"></span><span class="screen-reader-text">Older posts</span></a>
      <span class="page-number">Page X of Y</span>
      <a class="newer-posts button circle" href="#"><span class="screen-reader-text">Newer posts</span><span class="icon-arrow-right" aria-hidden="true"></span></a>
    </div>
  </nav>


{{ end }}
