{{ define "content" }}

{{ $display_posts := ((.Site.GetPage "section" "/posts").Pages).ByDate.Reverse }}
{{ range $post := $display_posts }}
<article class="">
	{{ if $post.Params.thumb_img_path }}
	  <a class="post-card-thumbnail" href="{{ $post.URL }}">
	    <img class="thumbnail" src="{{ $post.Params.thumb_img_path | relURL }}" alt="{{ $post.Params.title }}" />
	  </a>
	{{ end }}
	<a class="headline" href="{{ $post.URL }}" rel="bookmark">{{ $post.Params.title }}</a><time class="published" datetime="{{ $post.Date | dateFormat "2006-01-02 15:04" }}">
			{{ $post.Date | dateFormat "January 02, 2006" }}</time>
	<div class="post-excerpt">
		<p>{{ $post.Content }}</p>
	</div>
	<hr>
</article>
{{ end }}
<nav class="ui three item menu">
	<a href="http://thehawaiiindependent.com/">2009-2019 Archive</a>
</nav>
{{ end }}
