{{ define "main" }}
<section class="ui grid stackable" id="index_list" role="main_content">
	<div class="ui one column row">
		<main class="column updates_list">
			<section class="stories">
				{{ $paginator := .Paginate (where .Site.Pages "Type" "story") }}
				{{ range .Paginator.Pages }}
				<excerpt class="ui segment" id="{{ .Params.url_title }}">
					<section class="ui stackable grid">
						<div class="column six wide">
							{{ if .Params.related_index_topic }}
							<div>
								<a class="ui label top left" id="topic" href="/topics/democracy/">
								{{ .Params.related_index_topic }} <i class="circle right icon"></i>
								</a>
							</div>
							{{ end }}
							{{ if .Params.content_img_path }}
							    <img class="" src="{{ .Params.content_img_path | relURL }}" alt="{{ .Params.title }}" />
							{{ end }}
							{{ if .Params.story_photo }}
							    <img class="" src="{{ .Params.story_photo | relURL }}" alt="{{ .Params.title }}" />
							{{ end }}
							{{ if .Params.art }}
							    <img class="ui image" src="{{ .Params.art | relURL }}" alt="{{ .Params.title }}" />
							{{ end }}
						</div>
						<div class="column ten wide">
							<a class="headline" href="{{ .URL }}" rel="bookmark">
								{{ .Params.title }}
							</a>
							<time class="published" datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">
								{{ .Date | dateFormat "January 02, 2006" }}
							</time>
							<p class="teaser lead">
								{{ .Params.teaser }}
							</p>
						</div>
					</section>
				</excerpt>
				{{ end }}
			</section>
		</main>
		<div class="">
		{{ partial "pagination.html" . }}
		</div>
	</div>
</section>



			    
{{ end }}