{{ define "content" }}
<header class="headline">
    {{ .Params.title }}
</header>
<time class="published" datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">
    {{ .Date | dateFormat "Monday, January 2, 2006" }}
</time>
{{ if .Params.subtitle }}
    <div class="post-subtitle">
      {{ .Params.subtitle | safeHTML }}
    </div><!-- .post-subtitle -->
{{ end }}
{{ if .Params.content_img_path }}
  <div class="">
    <img class="" src="{{ .Params.content_img_path | relURL }}" alt="{{ .Params.title }}" />
  </div>
{{ end }}
<div class="">
  {{ .Content }}
</div><!-- .post-content -->
{{ end }}
