{{ define "content" }}
  <article class="ui page grid stackable post post-full" id="content" role="main_content">
    <header class="headline">
        <time class="published"
          datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">{{ .Date | dateFormat "Monday, January 2, 2006" }}</time>
      <h1 class="post-title">{{ .Params.title }}</h1>
    </header><!-- .post-header -->
    {{ if .Params.subtitle }}
    <div class="post-subtitle">
      {{ .Params.subtitle | safeHTML }}
    </div><!-- .post-subtitle -->
    {{ end }}
    {{ if .Params.content_img_path }}
    <div class="post-thumbnail">
      <img class="thumbnail" src="{{ .Params.content_img_path | relURL }}" alt="{{ .Params.title }}" />
    </div>
    {{ end }}
    <div class="">
      {{ .Content }}
    </div><!-- .post-content -->
  </article><!-- .post -->
{{ end }}
