<footer class="ui four column doubling stackable grid" id="honua" style="font-size: smaller;">
  
  <nav class="column eight wide">
    <ul class="menu">
<!-- 	    <img alt="The Hawaii Independent" src="/images/white_40.png" style="height: 50%;"> -->
<!--       <li><a href="/masthead/static/contact/">Contact</a></li> -->
<!--       <li><a href="/masthead/static/awards/">Awards</a></li> -->
<script async src="https://cse.google.com/cse.js?cx=014672154349516476516:nixjouqd0qk"></script>
<div class="gcse-search"></div>
    </ul>
        
  </nav>

  <nav class="column four wide">
	  <ul class="menu">
	    <li><a href="/"><i class="home icon"></i> Home [in beta]</a></li>
	    <li><a href="https://twitter.com/theHI">Twitter</a></li>
	    <li><a href="https://facebook.com/theHI">Facebook</a></li>
	  </ul>
	  <div class="source-org vcard copyright">
      <small>&#169; 2009-2020 <span class="org fn">The Hawaii Independent Corporation</span></small>
    </div>

  </nav>
</footer>
