<footer class="ui grid stackable divided" id="honua">
  
  <nav class="column eight wide">
    <ul class="menu">
      <li><a href="/masthead/static/contact/">Contact</a></li>
      <li><a href="/masthead/static/awards/">Awards</a></li>
    </ul>
    <div class="source-org vcard copyright">
      <small>&#169; 2019 <span class="org fn">The Hawaii Independent Corporation</span></small>
    </div>
  </nav>

  <nav class="column four wide">
  <ul class="menu">
    <li><a href="/">thehawaiiindependent.com</a></li>
    <li><a href="https://twitter.com/theHI">Twitter</a></li>
    <li><a href="https://facebook.com/theHI">Facebook</a></li>
  </ul>
  </nav>
</footer>
