<header id="masthead" class="site-header">
  <nav class="ui fluid menu inverted" role="navigation" id="branding_nav">
    <div class="navbar-header">
<!--
      <a class="item" id="brand_identity" href="/">
        <img alt="The Hawaii Independent" src="/images/white_40.png" />
      </a>
-->
      <a class="item" id="brand_name" href="/">
           <img alt="The Hawaii Independent" src="/images/white_40.png" style="margin-right: 10px;" /> The Hawaii Independent
      </a>
    </div>
  </nav>
</header>
